.vscode/settings.json
glade/addition.glade
glade/Freq_01.glade~
glade/Freq_Tools_V1.glade
glade/FreqTools_V1.py
glade/glade4.glade
glade/glade4.glade~
glade/glade4.py
glade/helloWorld.glade
glade/helloWorld.py
glade/helloWorldButton.glade
glade/helloWorldButton.py
glade/helloWorldButtonOpen.glade
glade/helloWorldButtonOpen.py
glade/myFirstProject.glade
glade/myFirstPythonGladeProject.py
glade/Python.code-workspace
glade/tuto_01.glade
glade/tuto_02.py
glade/tuto_03.py
glade/TutoLayout_01.py
glade/TutoLayout_02.py
Scripts_ApprenezlesbasesdePython2/Scripts_Apprenez les bases de Python 2/.DS_Store
Scripts_ApprenezlesbasesdePython2/Scripts_Apprenez les bases de Python 2/script_p3c2.py
Scripts_ApprenezlesbasesdePython2/Scripts_Apprenez les bases de Python 2/script_p3c3_solution.py
Scripts_ApprenezlesbasesdePython2/Scripts_Apprenez les bases de Python 2/script_p3c3.py
Scripts_ApprenezlesbasesdePython3/Scripts_Apprenez les bases de Python/.DS_Store
Scripts_ApprenezlesbasesdePython3/Scripts_Apprenez les bases de Python/script_p3c2.py
Scripts_ApprenezlesbasesdePython3/Scripts_Apprenez les bases de Python/script_p3c3_solution.py
Scripts_ApprenezlesbasesdePython3/Scripts_Apprenez les bases de Python/script_p3c3.py
Scripts_ApprenezlesbasesdePython4/Scripts_Apprenez les bases de Python/.DS_Store
Scripts_ApprenezlesbasesdePython4/Scripts_Apprenez les bases de Python/script_p3c2.py
Scripts_ApprenezlesbasesdePython4/Scripts_Apprenez les bases de Python/script_p3c3_solution.py
Scripts_ApprenezlesbasesdePython4/Scripts_Apprenez les bases de Python/script_p3c3.py
data_cdc_desc.csv
data_cdc_urls.csv
data_cdc.csv
data.csv
data2.csv
Freq.csv
input.csv
output.csv
cdc_flies_mpj_urls.py
Etl.py
Fic_csv.py
Freq_V1.py
main.py
number_rounding.py
p1c2s2_exercise_script.py
p1c4s2_exercise_script.py
plot.py
Python.code-workspace
glade/glade.code-workspace
images/acl_invent_air.jpg
images/acl_invent_air.pdf
images/afnor_Le_mobile_NFC.jpg
images/afnor_Le_mobile_NFC.pdf
images/alves_programmation_avec_node_js_2ed.jpg
images/alves_programmation_avec_node_js_2ed.pdf
images/amazon_darras_analyse_optometrique_et_vision_binoculaire.jpg
images/amazon_darras_analyse_optometrique_et_vision_binoculaire.pdf
images/amazon_darras_la_tete_et_ses_mesures_6ed.jpg
images/amazon_darras_la_tete_et_ses_mesures_6ed.pdf
images/amazon_intelligence_artificielle.jpg
images/amazon_intelligence_artificielle.pdf
.vscode/launch.json
list_fic.json
list_fic_bak.json
data_cdc_mpj.ods
